.contact {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 1.05em;
  max-width: 450px;
  margin: auto;
  background-color: #fff;
}

.contact-social-icon {
  padding: 40px 5px 5px 5px;
  width: 45px;
  display: inline-block;
  opacity: .6;
  &:hover {
    opacity: .8;
  }
}