.main-footer {
	padding: 40px 16px;
	font-size: 13px;
	border-top: 1px solid $break;
	font-weight: 700;
	letter-spacing: .02em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  	@include media(tablet) {
		width: 90%;
	    margin: auto;
	    padding-left: 2px;
	    padding-right: 2px;
	}
	@include media(desktop) {
    	max-width: $max-width;
 	}
	.footer-top {
		@include media(tablet) {
			display: none;
		}
	}
}

.footer-nav {
	display: none;
	@include media(tablet) {
    	display: flex;
		li {
    		padding-left: 40px;
  		}
  	}
}